body {
    background: #fff;
    color: #333;
    font-family: Helvetica, sans-serif;
}
.container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
}

.container2 {
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

h3,label[for='description'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

label[for='description'] {
    display: block;
    margin: 0 0 20px;
}

input#description {
    float: left;
    width: 318px;
}

span {
    word-wrap: break-word;
}
